<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neerajweb.gcmgreetingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permission: Allow application to write to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.neerajweb.gcmgreetingapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.neerajweb.gcmgreetingapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/apartment_icon"
        android:theme="@style/MyDefaultwhitesmokeTheme"
        android:label="@string/app_name" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Base_activity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.neerajweb.gcmgreetingapp.activity_register_main" />
        <activity android:name="com.neerajweb.gcmgreetingapp.Login" />
        <activity android:name="com.neerajweb.gcmgreetingapp.MainActivity" /><!-- Greeting Registration Activity in which GCM calls available to connect php-->
        <activity android:name="com.neerajweb.gcmgreetingapp.GreetingActivity" /><!-- Greeting Activity in which it receives the greeting through GCM -->

    </application>
</manifest>
